h3 {
   color: brown;
   font-size: xx-large;
   text-decoration: underline;
   text-underline-position: below;
  }

.photos img{
   height: 500px;
   width: 300px;

}

.photos {
   text-align: center;
}